<plugins xmlns="http://jnrpe.sourceforge.net/plugins" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://jnrpe.sourceforge.net/plugins plugin.xsd">
    <plugin name="ELASTIC_ALARM" class="com.zcloud.monitor.alarm.MonitorAlarmPlugin">
        <description>
            This plugin control ELASTIC_ALARM
        </description>
        <command-line>
            <options>
                <option shortName="s" longName="service" description="the monitored service's name"
                        required="false" hasArgs="true" argName="service" optionalArgs="false"/>
            </options>
        </command-line>
    </plugin>
</plugins>